---
layout: default
title: "Meu Portfolio"
permalink: /portfolio/index.html
Description: "Meus projetos"
---

<div class="header-post">
    <div class="btn-back">
        <a href="/">
            {% include btn-back.html %}
        </a>
    </div>

   <header>
        <h1>
            {{ page.title }}
        </h1>
    </header>
</div>


{% for project in site.data.portfolio %}
<div id="openModal{{ project.id }}" class="modalDialog">
	<div class="data">
		<a href="#close" title="Close" class="close">x</a>
		<h2>{{ project.nome }}</h2>
		<div class="picture">
			<img src="{{ project.image }}" alt="">
		</div>
		<div class="description">
			{{ project.description }}
			<p><a href="{{ project.link }}">ver o projeto</a></p>

		{% if project.link-github %}
			<p><a href="{{ project.link-github }}">ver o código fonte no Github</a></p>
		{% endif %}

		</div>
		<div style="clear: both"></div>
	</div>
</div>
{% endfor %}




<div class="posts">
{% for project in site.data.portfolio reversed %}
	<div class="post">
		<a href="#openModal{{ project.id }}"><img src="{{ project.image }}" alt="{{ project.nome }}"></a>

        <div class="t-post-info">
            <a href="#openModal{{ project.id }}"><h1>{{ project.nome }}</h1></a>
        </div>


	</div>
{% endfor %}

</div>
