<div class="sidebar-content">
    <div class="block">
		<a href="/"><img src="/assets/img/eu.png" alt="eu"></a>
		<p>{{ site.description }}</p>
		<div class="icons">
			<div class="social-icons">
				<a href="https://github.com/{{ site.github_username }}"><img src="/assets/img/github.png" alt="github"></a>
			</div>
			<div class="social-icons">
				<a href="https://br.linkedin.com/in/{{ site.linkedin_username }}"><img src="/assets/img/linkedin.png" alt="github"></a>
			</div>
			<div class="social-icons">
				<a href="https://twitter.com/{{ site.twitter_username }}"><img src="/assets/img/twitter.png" alt="github"></a>
			</div>
		</div>
    </div>
</div>