section.blog-content
	article
		display block
		font-size 1.3em
		line-height 1.6
		-webkit-font-smoothing atialiased
		color #333
		margin-bottom 3.5em
		+below(bp)
			font-size 1.6em
		p
			line-height 1.7
			word-wrap break-word
			+below(bp)
				font-size .7em
		p,h1,h2,h3,h4,ul,ol,iframe
			font-weight 400
			width 90%
			margin 1em auto
		
			