---
layout: default
---
<div class="header-post">
    <div class="btn-back">
        <a href="/">
            {% include btn-back.html %}
        </a>
    </div>
   <header>
        <h1>
            {{ page.title }}
        </h1>
        {% if page.date %}
        <span><i>{{ page.date | date_to_string }}</i></span>
        {% endif %}
        <!--<span>tags: -->
    {% for post in site.posts %}
        {% for tag in post.tags %}
            <!--<a href="#">{{ tag }}, </a>-->
        {% endfor %}
    {% endfor %}
        </span>
    </header>
</div>
<article>
    {{ content }}
</article>
    {% include projetos.html %}